<footer class="mt-auto py-3 bg-light text-center border-top">
    <div class="container">
      <div class="f-socials mb-2">
        <a href="#" class="text-dark mx-2 fs-5"><i class="fa-brands fa-square-facebook"></i></a>
        <a href="#" class="text-dark mx-2 fs-5"><i class="fa-brands fa-square-instagram"></i></a>
        <a href="#" class="text-dark mx-2 fs-5"><i class="fa-brands fa-linkedin"></i></a>
        <a href="#" class="text-dark mx-2 fs-5"><i class="fa-brands fa-square-x-twitter"></i></a>
      </div>
      <div class="f-info text-muted small">
          <span class="fw-semibold">&copy; <%= new Date().getFullYear() %> Wanderlust Private Limited</span>
          <div class="mt-1 d-flex justify-content-center gap-3">
              <a href="#" class="text-decoration-none text-muted">Privacy Policy</a>
              <a href="#" class="text-decoration-none text-muted">Terms of Service</a>
          </div>
      </div>
    </div>
  </footer>
